# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
dark_matter_env/
venv/
ENV/

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
.project
.pydevproject

# Data and Models
data/mgm
data/raw/*
data/processed/*
models/*.pth
*.pkl
*.h5

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# Logs and Local Files
*.log
.env
.DS_Store
Thumbs.db

# Dependencies
node_modules/
package-lock.json

# Distribution
dist/
build/
